name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  is-main-branch: ${{ github.action == 'refs/head/main' }}
  is-pull-request: ${{ github.event_name == 'pull_request' }}
  node-version: 16.x

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}
          cache: yarn

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build
